@page
@model HotelWebApp.Pages.BookRoomModel
@{
    ViewData["Title"] = "Book A Room";
}

<h1>Book A Room</h1>

<h2>@Model.RoomType.Title</h2>

<p>@Model.RoomType.Description</p>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.FirstName">First Name</label>
        <input asp-for="@Model.FirstName" />   
    </div>

    <br />

    <div class="form-group">
        <label asp-for="@Model.LastName">Last Name</label>
        <input asp-for="@Model.LastName" />    
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Book</button>
</form>